.env
.env.*
!.env.example
.git/
.gitignore
vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/libraries/
web/sites/*/files/
web/sites/*/private/
Dockerfile
README.md
*.sql
*.sql.gz
*.log
